{% extends "layout.twig" %}

{% block content %}
<div class="d-flex flex-wrap align-items-center gap-3 mb-3">
    <h2>
        Genres [ <a class="create-genre-btn" style="text-decoration: none;" href="#"> + </a> ]

        <form class="d-inline-flex" role="search" action="/genres/search" method="GET">
            <div class="input-group input-group-sm">
                <input class="form-control" type="search" id="searchGenreInput" name="q" placeholder="Search by genre..." aria-label="Search" style="width: 180px;">
                <button class="btn btn-outline-success" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        <button id="mergeBtn" class="btn btn-warning" title="Merge these 2 genres">Merge</button>

    </h2>
</div>


<!-- Pagination -->
{% import "partials/pagination.twig" as pag %}

<div class="d-flex justify-content-center">
<!-- Pagination -->
{{ pag.pagination(pagination, '/genres') }}
</div>


<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {# Add pagination controls #}
            {% include "partials/pagination.twig" %}

            {% for genre in genres %}
            <tr>
                <td data-entity="genres" data-merge="1" data-id="{{ genre.id }}" data-name="{{ genre.name }}">
                    <a title="Search all genres like: {{ genre.id }}"  href="/genres/search?q={{ genre.id }}"><i class="bi bi-funnel"></i></a>
  		    {{ genre.id }}
		</td>

                <td>
                    <a title="Search all genres like: {{ genre.name }}"  href="/genres/search?q={{ genre.name }}"><i class="bi bi-funnel"></i></a>
		    <a title="Show all books belongs to: {{ genre.name }}"   href="/genres/{{ genre.id }}">{{ genre.name | escape }}</a> 
		</td>
                <td>
                    <a title="Show all books from: {{ genre.name }}"  class="book-genre-btn"   href="/genres/{{ genre.id }}"><i class="bi bi-bookmark"></i></a> &nbsp; 
                    <a title="Edit genre: {{ genre.name }}"  class="edit-genre-btn"   href="#" data-id="{{ genre.id }}" data-name="{{ genre.name | escape }}"><i class="bi bi-pencil"></i></a> &nbsp; 
                    <a title="Delete genre: {{ genre.name }}"  class="delete-genre-btn" href="#" data-id="{{ genre.id }}" data-name="{{ genre.name | escape }}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="3" class="text-center">No genres found.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
<!-- Pagination -->
{{ pag.pagination(pagination, '/genres') }}
</div>

<!-- Include confirmation modal -->
{% include 'partials/modal.twig' %}


<script>
document.addEventListener('DOMContentLoaded', function () {
     setInputFromQueryParam("searchGenreInput");
});
</script>

{% endblock %}